@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Nanum+Gothic&display=swap');


.cards {
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
  }


.cityName {

    font-family: 'Merriweather', serif;
    display: flex;
    justify-content: center;
    font-size: 23px;
    color: black;
    margin-top: 0em;
}

 .minmax {
     display: flex;
     justify-content: space-between;
 }

.min {
    height: 10px;
    font-family: 'Merriweather', serif;
    
}

 

.max {
    height: 10px;
    font-family: 'Merriweather', serif;
    margin-left: 1.8em;
}


 

.boton {

  border: solid 2px transparent;
  background-color: black;
  transition: background-color 0.25s, color 0.25s;
  cursor: pointer;
  color: white;
  margin-left: 11em;
  border-radius: 2em;
  position: absolute;
  top: 0.5em;
}

.boton:hover {
    background-color: gray;
    color: black;
}


.imgCard {
    display: flex;
    justify-content: center;
    width:  140px;
    height: 90px;
    object-fit: cover;
    margin-bottom: 1em;
}

/* .imgCard:hover {
    width: 166px;
    height: 135px;
    border-radius: 2em; 
} */

.containerCard {
    display: flex;

    flex-direction: column;

    justify-content: center;

    align-items: center;
    
    width: 184px;

    height: 237px;

    background-color: rgba(255, 255, 255, 0.486);

    margin-left: 40px;

    margin-right: 40px;

    margin-top: 30px;

    border-radius: 0.9rem;

    backdrop-filter: blur(0.8px);
}

.containerCard:hover {
    border-radius: 0em;
    border: solid 3px black;
}
